#footer {
  height: 15em;
  width: 100%;
  background-color: #ddd;
  color: #ddd;
  white-space: nowrap;
}

.titleBreak {
  height: 25px;
  border: 0;
  box-shadow: inset 0 25px 25px -25px rgba(0, 0, 0, 0.8);
} /* Inserts a horizontal break after an important title */
