/* General body reset and background configuration */


html, body {
	margin: 0;
	padding: 0;
}

#mainBackground {
  background-image: url(/src/images/mountain_2_optimized.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: 100%;
	background-color: #ddd;
}


/* Remove the square dotted line when a link was clicked */


:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}


/* Related to the welcome message */


#welcomebox {
  position: fixed;
  width: 40em;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.welcomerow {
  background-color: #ddd;
  opacity: 0.82;
  width: 100%;
  margin: 0.6em;
  padding: 0.8em;
}

.welcometext {
  color: #333;
  font-family: junction;
  text-align: center;
  font-size: 3em;
}


/* Responsive design mode */

@media screen and (max-width: 500px) {
	#mainBackground {
	  background-image: url(/src/images/mountain_2_optimized.jpg);
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-position: center top;
	  background-size: auto 100%;
		background-color: beige;
	}

	#welcomebox {
		background-color: #ddd;
	  width: 100%;
		top: 50%;
		left: 0;
		opacity: 0.82;
		-webkit-transform: translate(0, -50%);
	  transform: translate(0, -50%);
		padding: 0.6em 0 0.6em 0;
	}

	.welcomerow {
		background-color: #ddd;
		width: auto;
		padding: 0;
		margin: 0.2em;
	}

	.welcometext {
	  font-size: 6vw;
	}
}
