#navbar {
  height: 5em;
  width: 100%;
	background-color: white;
  white-space: nowrap;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0px 5px 20px #222;
  -moz-box-shadow: 0px 5px 20px #222;
  box-shadow: 0px 5px 20px #222;
}

.navel {
  font-family: amaranth;
  height: inherit;
  display: inline-flex;
  padding: 0 10px 0 10px;
  transition: box-shadow 200ms linear;
}

.active {
  -webkit-box-shadow:inset 0px -3px 0px #2980b9;
  -moz-box-shadow:inset 0px -3px 0px #2980b9;
  box-shadow:inset 0px -3px 0px #2980b9;
}

.activePage {
  color: #2980b9 !important;
}

.navel:hover {
  -webkit-box-shadow:inset 0px -3px 0px #d62b2d;
  -moz-box-shadow:inset 0px -3px 0px #d62b2d;
  box-shadow:inset 0px -3px 0px #d62b2d;
}

a.navlink {
	color: #050505;
  font-size: 1.2em;
	text-decoration: none;
  transition: color 200ms linear;
  margin: auto;
}

a.navlink:hover {
	color: #d62b2d !important;
}
