

/* General body reset and background configuration */


html, body {
	margin: 0;
	padding: 0;

}

p {
    font-family: junction;
    font-size: 1.1em;
    color: #222;
		text-align: center;
}

#mainBackground {
  background-image: url(/src/images/optimized_toulouse.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: 100%;
	background-color: #222;
}


/* Remove the square dotted line when a link was clicked */


:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}


/* Related to the Content */


.contentBox {
	width: 81em;
	max-width: 100%;
	background-color: #eee;
	margin: 7em auto;
	padding: 3em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-shadow: 0 5px 25px 0 #222;
}


/* Related to the guide results */


.results {
	margin: auto;
	width: 81em;
	max-width: 100%;
}

.result {
	background-color: #ddd;
	width: 18em;
	max-width: 100%;
	display: inline-block;
	vertical-align: top;
	overflow: auto;
	margin: 1.9em;
	box-shadow: 0 5px 25px 0 black;
}

.profile_header {
	height: 6.4em;
	font-style: italic;
	background-color: #222;
}

.title {
	border-top: 1px dotted #555;
	font-family: raleway;
	color: white;
	padding: 0.8em;
	background-color: #222;
	box-shadow: 0 3px 15px 0 #222;
	overflow-x: hidden;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out
}

.title_button {
	background-color: rgba(234,234,234,0.7);
	border-radius: 2px;
	position: absolute;
	float: left;
	width: 0;
	color: black;
	height: inherit;
	text-align: center;
	overflow: hidden;
}

.title_text {
	text-decoration: none;
	font-family: raleway;
	color: white;
}

.profile_body {
	font-family: raleway;
	margin: 1.5em;
	max-height: 10em;
	text-align: left;
	overflow-y: hidden;
	text-overflow: ellipsis;
}

.profile_header_block {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: inline-block;
	padding: 0.7em 2em;
	width: 50%;
	height: 100%;
	float: left;
}

.image_wrapper {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 0 25px 0 black;
}

.image {
	width: 100%;
}

.infos_wrapper {
	height: 50%;
}

.infos {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
	vertical-align: middle;
	text-align: left;
	font-family: raleway;
	font-weight: bold;
	color: #ddd;
	margin: 0;
	text-shadow: 0 5px 15px black;
}


/* Responsive design mode */


@media screen and (max-width: 500px) {
	#mainBackground {
	  background-size: auto 100%;
	}

	.contentBox {
		padding: 1em;
	}

	.result {
		margin: 1em 0;
	}
}
